// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes

.code--small
    font-size: 17px

.orion
    background-image: url('../images/orion.jpg')

.tasty
    background-image: url('../images/tasty.jpg')

.me
    background-image: url('../images/me.png')

.darkcoding
    background-image: url('../images/darkcoding.jpg')

.pillars
    background-image: url('../images/pillars.jpeg')

.noideadog
    background-image: url('../images/noideadog.jpg')

.ericelliot
    background-image: url('../images/ericelliot.jpeg')

.jslogo
    background-image: url('../images/jslogo.png')

.yaoming
    background-image: url('../images/yaoming.png')

.youshouldlearnjs
    background-image: url('../images/youshouldbelearingjs.jpg')

.jsrocks
    background-image: url('../images/coolgrandma.jpeg')

.versatile
    background-image: url('../images/versatile.png')

.opensource
    background-image: url('../images/opensource.jpg')

.ubiquitous
    background-image: url('../images/ubiquitous.jpg')

.dynamic
    background-image: url('../images/dynamic.jpg')

.theproblem
    background-image: url('../images/theproblem.jpg')

.everywhere
    background-image: url('../images/everywhere.jpg')

.gif
    -webkit-background-size: contain
    -moz-background-size: contain
    background-size: contain
    background-position: center
    background-repeat: no-repeat

.gif--fight
    background-image: url(../images/gif/fight.gif)

.gif--testing
    background-image: url(../images/gif/testing.gif)

.gif--thanks
    background-image: url(../images/gif/thanks.gif)

.gif--nerd
    background-image: url(../images/gif/nerd.gif)

.gif--noidea
    background-image: url(../images/gif/noidea.gif)

.gif--why
    background-image: url(../images/gif/why.gif)