// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes

.code--small
    font-size: 15px

.orion
    background-image: url('../images/orion.jpg')

.tasty
    background-image: url('../images/tasty.jpg')

.me
    background-image: url('../images/me.jpg')

.darkcoding
    background-image: url('../images/darkcoding.jpg')

.pillars
    background-image: url('../images/pillars.jpeg')

.gif
    -webkit-background-size: cover
    -moz-background-size: cover
    background-size: cover
    background-position: center
    background-repeat: no-repeat

.gif--fight
    background-image: url(../images/gif/fight.gif)

.gif--testing
    background-image: url(../images/gif/testing.gif)

.gif--thanks
    background-image: url(../images/gif/thanks.gif)