doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title The two pillars of javascript

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section(data-bespoke-backdrop='tasty')
        h1 TastyJS meetups

      section(data-bespoke-backdrop='me')
        h2 About me
        pre(class='code--small')
          code.language-javascript.
            var author = {
              tito: {
                name: 'Augusto Altman Quaranta',
                worksAt: {
                    corp: 'Intel Corporation',
                    site: 'ASDC',
                    project: 'TrueKey'
                }
              };

      section(class='gif gif--nerd')

      section(data-bespoke-backdrop='pillars')
        h1 The two pillars of JavaSript

      section
        h3 Chapter 1

      section(data-bespoke-backdrop='darkcoding')
        h2 Hello darkness, my old friend. I've come to 
          span(style='color:orange') code 
          with you again.
        h3 <a href="https://www.youtube.com/watch?v=4zLfCnGVeL4">♫ Simon & Garfunkel - The sound of silence</a>

      section(data-bespoke-backdrop='jsrocks')
        h2 But do not misunderstand me, JavaScript rocks!

      section(data-bespoke-backdrop='versatile')
        h2
          span(style='color:orange') Because it's versatile
        h4
          ul
            li 
              span(style='color:lightblue') Functional.
            li 
              span(style='color:lightblue') Object oriented.
            li 
              span(style='color:lightblue') Event-based.
            li 
              span(style='color:lightblue') Procedural.

      section(data-bespoke-backdrop='dynamic')
        h2 Because it's dynamic
        h4
          ul
            li Weekly typed.
            li No classes.
            li Native late binding.
            li Not compiled.
            li Eval.

      section(data-bespoke-backdrop='opensource')
        h2 Because it's open source
        h4
          ul
            li Based on ECMAScript.
            li All the best engines, tools and libraries are open source.
            li Most used language on GitHub.
            li You can always check the source code.

      section(data-bespoke-backdrop='ubiquitous')
        h2 Because it's ubiquitous and universal
        h4
          ul
            li Standar language for web aplications.
            li All software is becoming web software.
            li Node.JS and io.js are taking over the server side.
            li Npm is the largest programming language package repository.
            li Available also for embeded systems.

      section(data-bespoke-backdrop='youshouldlearnjs')
        h2 You should be learning JavaScript right now.

      section(data-bespoke-backdrop='theproblem')
        h2 The problem isn't JavaScript.
        h3 The problem the way people learn it.

      section(data-bespoke-backdrop='noideadog')
        h2 The reallity
        h3 Almost everybody knows a little JavaScript, but almost nobody really understands JavaScript.

      section(class='gif gif--noidea')

      section(data-bespoke-backdrop='ericelliot')
        h4 99 out of 100 JavaScript developers I interview lack the skills required to hit the ground running on a scalable production JavaScript application.
        h3 Eric Elliot.

      section(data-bespoke-backdrop='yaoming')
        h4 The fact is, most of the world’s software infrastructure is heavily dependent on JavaScript: perhaps the world’s most misunderstood programming language.
        h3 Eric Elliot.

      section
        h3 Chapter 2

      section(data-bespoke-backdrop='everywhere')
        h2 Clousures, clousures everywhere
        h3 First pillar.

    script(src='build/build.js')