doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title The two pillars of javascript

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section(data-bespoke-backdrop='tasty')
        h1 TastyJS meetups

      section(data-bespoke-backdrop='me')
        h2 About me
        pre(class='code--medium')
          code.language-javascript.
            var author = {
              tito: {
                name: 'Augusto Altman Quaranta',
                worksAt: {
                    corp: 'Intel Corporation',
                    site: 'ASDC',
                    project: 'TrueKey'
                }
              };

      section(data-bespoke-backdrop='socialmedia')
        h4
          ul
            li
              span(style='color:orange') <a href="https://twitter.com/AugustoAltman">Twitter</a>
            li
              span(style='color:orange') <a href="https://github.com/augusto-altman">GitHub</a>
            li
              span(style='color:orange') <a href="https://www.npmjs.com/~augusto.altman">NPM</a>
            li
              span(style='color:orange') <a href="http://stackoverflow.com/users/3685148/augustoaltman">Stackoverflow</a>
            li
              span(style='color:orange') <a href="http://augustoaltman.tumblr.com/">blog</a>

      section(class='gif gif--nerd')

      section(data-bespoke-backdrop='pillars')
        h1 The two pillars of JavaSript

      section
        h3 Chapter 1

      section(data-bespoke-backdrop='darkcoding')
        h2 Hello darkness, my old friend. I've come to 
          span(style='color:orange') code 
          with you again.
        h3 <a href="https://www.youtube.com/watch?v=4zLfCnGVeL4">♫ Simon & Garfunkel - The sound of silence</a>

      section(data-bespoke-backdrop='jsrocks')
        h2 But do not misunderstand me, JavaScript rocks!

      section(data-bespoke-backdrop='versatile')
        h2
          span(style='color:orange') Because it's versatile
        h4
          ul
            li 
              span(style='color:lightblue') Functional.
            li 
              span(style='color:lightblue') Object oriented.
            li 
              span(style='color:lightblue') Event-based.
            li 
              span(style='color:lightblue') Procedural.

      section(data-bespoke-backdrop='dynamic')
        h2 Because it's dynamic
        h4
          ul
            li Weekly typed.
            li No classes.
            li Native late binding.
            li Not compiled.
            li Eval.

      section(data-bespoke-backdrop='opensource')
        h2 Because it's open source
        h4
          ul
            li Based on ECMAScript.
            li All the best engines, tools and libraries are open source.
            li Most used language on GitHub.
            li You can always check the source code.

      section(data-bespoke-backdrop='ubiquitous')
        h2 Because it's ubiquitous and universal
        h4
          ul
            li Standar language for web aplications.
            li All software is becoming web software.
            li Node.JS and io.js are taking over the server side.
            li Npm is the largest programming language package repository.
            li Available also for embeded systems.

      section(data-bespoke-backdrop='youshouldlearnjs')
        h2 You should be learning JavaScript right now.

      section(data-bespoke-backdrop='theproblem')
        h2 The problem isn't JavaScript.
        h3 The problem is the way people learn it.

      section(data-bespoke-backdrop='noideadog')
        h2 The reallity
        h3 Almost everybody knows a little JavaScript, but almost nobody really understands JavaScript.

      section(class='gif gif--noidea')

      section(data-bespoke-backdrop='ericelliot')
        h4 99 out of 100 JavaScript developers I interview lack the skills required to hit the ground running on a scalable production JavaScript application.
        h3 Eric Elliot.

      section(data-bespoke-backdrop='yaoming')
        h4 The fact is, most of the world’s software infrastructure is heavily dependent on JavaScript: perhaps the world’s most misunderstood programming language.
        h3 Eric Elliot.

      section
        h3 Chapter 2

      section(data-bespoke-backdrop='everywhere')
        h2 Closures, closures everywhere.
        h3 First pillar.

      section(data-bespoke-backdrop='madbaby')
        h2 Everybody should clearly understand closures!!
        h3 They enable state encapsulation and therefore are part of the language foundations.

      section(data-bespoke-backdrop='twofingers')
        h2 There are two key concepts around closures:
        h4
          ul
            li First-class functions.
            li Function lexical scope.

      section(data-bespoke-backdrop='firstclassplane')
        h2 First-class functions.

      section(data-bespoke-backdrop='firstclass')
        h2 A first-class function is one that may participate as a normal data
        h3 i.e. be created literally at runtime, be passed as an argument, or be returned as a value from another function.

      section
        pre(class='code--medium')
          code.language-javascript.
            function someFun() {
              console.log('lalala');
            }

            function someOtherFunc(callback) {
              callback();
            }

            someOtherfunc(someFunc);

      section(data-bespoke-backdrop='lexical')
        h2 Lexical scopes.

      section(class='gif gif--fight')
        h4 For the sake conceptual clearity.
        h2 Context vs Scope

      section(data-bespoke-backdrop='scientiscat')
        h3 Every function invocation has both a scope and a context associated with it.
        h4
          ul
            li Scope pertains to the variable access of the function when it is invoked.
            li Context is always the value of the this keyword.

      section(data-bespoke-backdrop='yingyang')
        h3 In general programming language theory, scopes can be nested at any block level.
        h2 Types of nested scopes.
        h4
          ul
            li Lexical scopes, e.g: C, C++, JavaScript
            li Dynamic scopes, e.g: Ruby

      section(data-bespoke-backdrop='chucknorrisapproves')
        h2 JavaScript allows scope nesting at function level. 
        h3 Functions are lexical scoped in JavaScript.

      section(data-bespoke-backdrop='lexicalscopes')

      section(class='gif gif--boring')
        h4 Lexical scope is the concept, and JavaScript implements it via the scope chain.
        h3 A function has access to the variables present in their outer enclosing functions.

      section(data-bespoke-backdrop='scopechain')

      section(data-bespoke-backdrop='closure')
        h2 Closures

      section(data-bespoke-backdrop='thinking')
        h3 Whenever a function is treated as data it must mantain its scope chain.
        h4 i.e. when we pass a function reference as an argument we are also passing its scope chain so it can be executed later maintaining its lexical scope.

      section(data-bespoke-backdrop='awesome')
        h2 And that's what a closure is!
        h3 Formally speaking: A closure is a pair consisting of the function code and the environment in which the function is created (its lexical scopes).

      section
        pre(class='code--medium')
          code.language-javascript.
            function funcFactory() {
              var name = "tito";
              function showName() {
                console.log(name);
              }
              return showName;
            }

            var aFunc = funcFactory();
            aFunc();

      section(data-bespoke-backdrop='enlightened')
        h3 Like objects, closures are a mechanism for containing state. But only encapsulated state..
        h4 So it's a means for encapsulation.

      section(data-bespoke-backdrop='factory')
        h2 A great example of how closures provides encapsulation is the 
          span(style='color:orange') factory constructor function pattern.
        h3 <a href="http://javascript.info/tutorial/factory-constructor-pattern">From javascript.info patterns repository.</a>

      section
        pre(class='code--small')
          code.language-javascript.
            function Person(newPersonName, newPersonDeathAge) { //factory constructor function
              var name = newPersonName || 'tito';
              var deathAge = newPersonDeathAge || 80;
              var age = 0;
              return {
                reName: function (newName){
                  name = newName;
                },
                getName: function (){
                  return name;
                },
                happyBithday: function () {
                  if(this.isAlive())
                    age++;
                },
                getAge: function () {
                  return age;
                },
                isAlive: function () {
                  return this.getAge() < deathAge;
                }
              };
            }

      section
        pre(class='code--medium')
          code.language-javascript.
            var josePerez = Person('jose', 30);
            var juanRodriguez = Person('juan');

            for(var i = 0; i<20; i++){
              josePerez.happyBithday();
            }
            juanRodriguez.happyBithday();
            juanRodriguez.happyBithday();

            console.log(josePerez.getAge()); //20
            console.log(juanRodriguez.getAge()); //2

      section(data-bespoke-backdrop='coolcat')
        h3 Encapsulation through closures can also be exploited to:
        h4
          ul
            li Propagate state through async calls.
            li Create namespaces.

      section(data-bespoke-backdrop='statepropagation')
        h2 Async state propagation.
        h3 Callbacks.

      section
        pre(class='code--small')
          code.language-javascript.
            function TimeTalker(newMaxTime, newPhrase) {
              var maxTime = newMaxTime || 30;
              var phrase = newPhrase || 'soyet le tito';
              var interval;
              var counter = 0;
              return {
                start: function () {
                  interval = setInterval(function callback(){
                    console.log(phrase);
                    counter++;
                    if(counter >= maxTime) {
                      clearInterval(interval);
                    }
                  }, 1000);
                }
              };
            }

            var aTalker = TimeTalker(5, 'closures are awesome');
            aTalker.start();

      section(data-bespoke-backdrop='carcrash')
        h2 Namespace creation.
        h3 Avoiding name crashes.

      section(data-bespoke-backdrop='crockford')
        h2 A great example of how closures provides namespacing is the 
          span(style='color:orange') module pattern.
        h3 Popularized by Douglas Crockford

      section
        pre(class='code--small')
          code.language-javascript.
            var someVar = 'San Lorenzo de Almagro';
            console.log(someVar); //San Lorenzo de Almagro

            var Module = (function () { //IIFE
              var someVar = 'walla walla';
              var someOtherVar;
              console.log(someVar); //walla walla
              return function() {
                //doSomething
              };
            })();

            console.log(someVar); //San Lorenzo de Almagro

      section
        h3 Chapter 3

      section(data-bespoke-backdrop='prototype')
        h2 Prototypal inheritance.
        h3 Second pillar.

      section(data-bespoke-backdrop='madbaby')
        h2 Everybody should clearly understand prototypal inheritance!!
        h3 They enable code re-utilization and therefore are part of the language foundations.

      section(data-bespoke-backdrop='evolution')
        h3 In prototypal inheritance, instances inherit from other instances.

    script(src='build/build.js')